*{
  padding:0;
  margin:0;
}
il,li{
  list-style:none;
}
body{
  background-color: #ddd;
}
.first{
  width:1000px;
  height:50px;
  line-height: 50px;
  padding-left:50px;
  background-color: #ccc;
}
.headerwrap{
  height:50px;
  background-color:#444;
}
.headerwrap header{
  width:1200px;
  margin: 0 auto;
}
.headerwrap img{
  width:120px;
  margin-top:10px;
}
.headerwrap a{
  margin:0 20px;
  color:white;
}
.headerwrap input{
  height:25px;
  width:200px;
  border-radius: 10px;
  margin-left: 30px;
  background-color: #ccc;
}
.sider{
  float:right;
}
.side{
  background-color: white;
  width:250px;
  margin-right: 50px;
  padding: 10px;
}
.side button{
  width:150px;
  height: 30px;
  background-color: rgb(4, 213, 250);
  border-radius: 5px;
}
.sideimg{
  margin-top:10px;
  background-color: white;
  width:250px;
  margin-right: 50px;
  padding: 10px;
}
.sideimg img{
  width:250px;
}
.topic{
  margin-top:10px;
  background-color: white;
  width:250px;
  margin-right: 50px;
  padding: 10px;
}
.first1{
  color:green;
}
.login input{
  width:200px;
  height:30px;
  background-color: white;
  margin-top:30px;
  border-radius:5px;
}
.btn{
  width:150px;
  height:40px;
  margin-top: 30px;
  margin-left: 50px;
  background-color: aqua;
}
.list{
  /* width:1000px;
  background-color: rgb(226, 222, 222); */
  /* height:810px;
  overflow: hidden; */
}
.page{
  margin-left: 250px;
}
.page li{
  border: 1px solid gray;
  width: 40px;
  height:40px;
  float: left;
  text-align: center;
  line-height: 40px;
}
